.bc-context-menu
    position absolute
    margin-top 0
    margin-bottom 0
    padding-left 0
    background-color #fff
    box-shadow 0 0 1px 1px rgba(0, 0, 0, .2)
    list-style-type none

    &.hidden
        display none

    &__item
        &:not(:last-child)
            border-bottom 1px solid #ccc

    &__link
        display inline-block
        padding 4px 10px
        width 100%
        border-width 0
        background-color transparent
        color #111
        text-align left
        text-decoration none
        white-space nowrap
        font-size 14px
        cursor pointer