.business-cards
    display inline-block
    
    &__header
        display flex
        align-items baseline
        justify-content space-between

    &.front
        .business-card--back
            display none

    &.back
        .business-card--front
            display none
