.main-header
    padding-top 10px
    padding-bottom 10px
    border-bottom 2px solid $brand-primary
    background-color #ededed

    &__content
        @extend .container
        display flex
        align-items center
        justify-content space-between

    &__content-group
        display flex
        align-items center

        .navbar-nav-locale-switcher
            > li
                &:not(:last-child)
                    margin-right 16px

                > a
                    padding 0

    &__content-group-item
        & + &
            margin-left 28px

    .logo
        > .img-responsive
            width auto
            height 55px
