@require 'mixins/focusable-all-states'

.main-footer
    margin-top 40px

    &,
    a
        color $white-base

    a
        +focusable-all-states()
            text-decoration none

        &:hover,
        &:focus
            color $brand-primary

        &:active
            color darken($brand-primary, 10%)

    &__top-line
        padding-top 20px
        padding-bottom @padding-top
        background-color $gray-base

        .logo
            display inline-block
            margin-left ($grid-gutter-width / -2)

            > .img-responsive
                width auto
                height 42px

    &__top-line-content
        @extend .container
        display flex
        align-items flex-start
        justify-content space-between

        .navbar-nav-socials
            .icon--svg
                fill $white-base

    &__top-line-content-item
        @extend $col
        flex-basis 20%
        max-width @flex-basis

    &__bottom-line
        padding-top 8px
        padding-bottom @padding-top
        background-color #1c1c1c

    &__bottom-line-bottom-group
        display flex
        align-items center
        justify-content space-between
