.contact-info
    &__title
        margin-top 0
        margin-bottom 20px
        font-size $font-size-small

        &:after
            content ':'

    &__main
        > :last-child
            margin-bottom 0

        &,
        a
            font-weight 700
