.bc-color-selector
    display inline-flex
    align-items center
    justify-content space-between

    &__label
        margin-right ($grid-gutter-width / 2)

    &__button
        width 14px
        height @width
        border 1px solid #ccc
        background-color #000
        line-height (@height - 2px)

.bc-color-selector--light
    .bc-color-selector
        &__button
            background-color #fff
