$bc-controls-line-with-label
    display flex
    align-items center

    &-label
        margin-right $grid-gutter-width
        width 105px

    &-main
        flex-grow 1

$bc-controls-line-with-label-main-with-buttons
    display flex
    justify-content space-between

.bc-controls
    &__main
        padding 12px
        background-color #f9f9f9
        font-size 12px

    &__line
        &:not(:first-child)
            margin-top 10px

    &__text-style
        display flex
        justify-content space-between

        > * + *
            margin-left 8px

    &__text-style-size
        flex-shrink 0
        width 66px

    &__text-style-font-family
        flex-grow 1

        .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn)
            width 126px

    &__object-opacity
        @extend $bc-controls-line-with-label

    &__object-opacity-main
        .slider
            &.slider-horizontal
                width 100%
                height 16px

                .slider-handle
                    margin-left -4px

        .slider-handle
            top 4px
            width 8px
            height (@width * 2)
            background-color #656565
            background-image none

        .slider-selection,
        .slider-track
            border-radius 0
            box-shadow inset 0 -1px 0 #656565

    &__text-decoration
        @extend $bc-controls-line-with-label

    &__text-decoration-main
        @extend $bc-controls-line-with-label-main-with-buttons

    &__text-align
        @extend $bc-controls-line-with-label

    &__text-align-main
        @extend $bc-controls-line-with-label-main-with-buttons

    &__image-basic
        display flex
        align-items center
        justify-content space-between

    &__image-loader
        width 46%

        .btn
            padding-right 4px
            padding-left @padding-right

    &__image-effects
        width 46%

    &__image-effects-main
        margin-top 1px

    &__round-corners
        @extend $bc-controls-line-with-label

    &__round-corners-main
        display flex
        align-items center
