.bc-previews
    &__title
        margin-bottom 8px
        font-size $font-size-base

        &:after
            content ':'

.modal-footer
    .bc-previews
        &__title
            margin-top 0
