$bc-text-fields-list-item-margin = 10px

.bc-text-fields
    &:not(:first-child)
        margin-top 30px

    &__list
        display flex
        flex-wrap wrap
        justify-content space-between
        margin-top ($bc-text-fields-list-item-margin * -1)

    &__list-item
        flex-basis 48%
        max-width @flex-basis
        flex-basis 'calc(50% - %s)' % $bc-text-fields-list-item-margin
        max-width @flex-basis
        margin-top $bc-text-fields-list-item-margin
