.bc-text-colors-selectors
    display flex
    justify-content space-between
    margin-top 12px
    margin-bottom 12px

    .bc-text-color-selector
        & + .bc-text-color-selector
            margin-left ($grid-gutter-width / 2)
