.bc-wrapper
    &__content
        display flex

    & + &
        margin-top 30px

.bc-wrapper--editor
    .bc-panel
        display flex

    .bc-controls
        display flex
        flex-direction column

        &__header
            .block-title
                margin-top 30px
                margin-bottom 6px

        &__main
            display flex
            flex-grow 1
            flex-direction column
            justify-content space-between

.bc-wrapper--order
    .bc-wrapper
        &__header
            display flex
            align-items center

            > .block-title
                margin-top 0
                margin-right ($grid-gutter-width / 2)
                margin-bottom 0

            > .btn-icon
                border-radius 100%

        &__content
            &:not(:first-child)
                margin-top 10px
