@import '../../../node_modules/bootstrap-select/dist/css/bootstrap-select.css'

select.selectpicker
    @extend .form-control
    display block !important
    appearance none

    &[data-style*="btn-xs"]
        padding-right 6px
        padding-left @padding-right
        height $control-height-xs
        text-align left
        font-size $control-fs-xs

    &[data-style*="btn-default"]
        border-color #7d7d7d
        color $gray-base

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn)
    width 100%

.bootstrap-select
    > .dropdown-toggle
        padding-right ($control-height-xs + 2px)
        padding-left 3px
        text-transform none
        text-align left
        font-weight 400

        &.btn-xs
            + .dropdown-menu
                > .dropdown-menu
                    > li
                        > a
                            font-size $control-fs-xs

    .bs-caret
        position absolute
        top 0
        right 0
        bottom @top
        display flex
        align-items center
        justify-content center
        width $control-height-xs
        background-color #c5c5c5

        .icon--svg
            fill $white-base

.bootstrap-select.btn-group .dropdown-toggle .filter-option
    text-overflow ellipsis
