.btn
    padding-right 20px
    padding-left @padding-right
    font-weight 700
    font-size $font-size-small
    text-transform uppercase
    transition-duration 150ms
    transition-property background-color, color, border-color

    .loading
        display none

a.btn
    text-decoration none

.btn-icon
    padding-right 0
    padding-left @padding-right

    .icon--svg
        width 20px
        height @width

.btn-sm
    font-size $control-fs-small

    .icon--svg
        width 14px
        height 14px
        transform translateY(-8%)


.btn-xs
    border-width $control-bdw-xs
    line-height ($control-height-xs - ($control-bdw-xs * 2))

    .icon--svg
        width 10px
        height 10px
        transform translateY(-8%)

.btn-default
    border-color #7d7d7d
    background-color $white-base
    color $gray-base

    &:hover,
    &:focus
        background-color #e9e8e8

    &:active,
    &.active
        background-color #c5c5c5

.btn-primary
    border-color $brand-primary
    background-color $brand-primary
    color $white-base

    &:hover,
    &:focus
        border-color #767676
        background-color #767676
        color $white-base

    &:active,
    &.active
        border-color #464646
        background-color #464646
        color $white-base

    .icon--svg
        fill $white-base

.btn-outline-primary
    border-color $brand-primary
    background-color $white-base
    color $brand-primary

    &:hover,
    &:focus
        border-color #767676
        background-color #767676
        color $white-base

    &:active,
    &.active
        border-color #464646
        background-color #464646
        color $white-base

.btn-secondary
    border-color $brand-secondary
    background-color $brand-secondary
    color $white-base

    &:hover,
    &:focus
        border-color #464646
        background-color #464646
        color $white-base

    &:active,
    &.active
        border-color $brand-primary
        background-color $brand-primary
        color $white-base

.btn-dark
    border-color #c5c5c5
    background-color #c5c5c5
    color $white-base

    .icon--svg
        fill $white-base

.btn-file
    position relative
    overflow hidden

    input
        position absolute
        top 0
        right 0
        display block
        min-width 100%
        min-height 100%
        outline 0
        filter unquote('alpha(opacity=0)')
        background-color white
        text-align right
        font-size 100px
        opacity 0
        cursor inherit

.btn-multiline
    white-space normal
    line-height $line-height-base

.btn-loading
    position relative

    .text
        display none

    .loading
        position absolute
        top 50%
        left 50%
        display block
        transform translate(-50%, -50%)
