.custom-control
    position relative
    margin-bottom 0
    width 14px
    height @width

    input
        position absolute
        z-index -1
        margin 0
        opacity 0

        &:checked
            & ~ .custom-control-indicator
                .icon--checked
                    display inline-block

.custom-control-indicator
    position relative
    display inline-block
    width 14px
    height @width
    background-color #d8d4d4
    cursor pointer

    .icon--checked
        position absolute
        top 50%
        left 50%
        display none
        width 10px
        height @width
        transform translate(-50%, -50%)
