.input-group
    display flex

    .form-control
        display block

    textarea.form-control
        resize none

    .input-group-btn
        z-index 3
        width auto
        font-size $font-size-base

        .btn
            margin-left 0
            height 100%
            line-height 97%
            line-height 'calc(100% - %s)' % ($control-bdw-base * 2)
