.navbar-nav-locale-switcher
    > li
        > a
            text-decoration none

    > .active
        > a
            font-weight 700

.navbar-nav-socials
    .icon--svg
        width 22px
        height @width

    > li
        > a
            @extend .btn
            @extend .btn-icon
            padding 0
            line-height ($control-height-base - ($control-bdw-base * 2))

            &:hover,
            &:focus
                .icon--svg
                    fill $brand-primary

            &:active
                .icon--svg
                    fill lighten($brand-primary, 10%)
